.chapter_container {
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 100%;
  padding-top: 30px;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.2);

  .logo {
    text-decoration: none;
    padding: 10px;
    margin: 0;
    color: black;
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .chapter {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: transform ease-in-out 0.1;
    outline: none;
  }

  .chapter:hover {
    transform: scale(1.01);
  }

  .chapter:active {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .logout {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 10px;
    bottom: 50px;
    right: 30px;
    border-radius: 12px;
  }

  .logout:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}
